:root{
  --control-bar-color: rgba(136, 108, 158, 0.952);
  --smallest-width: 45rem;
  --middle-width: 70rem;
  --normal-width: 100rem;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
  
}

body {
  font-family: sans-serif;
  box-sizing: border-box;
}

header{
  height: 6rem;
  width: var(--normal-width);
  background-color: var(--control-bar-color);
  margin:0 auto;
  display: flex;
  justify-content:center;
  align-items: center;
  position:sticky;
  top:0;
}

.music-controls{
  margin:0 auto;
  height: 5rem;
  width: 30rem;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  
}

.music-control{
  height: 5rem;
  width: 12rem;
  /* margin:0 auto; */
  border:1px solid black;
  border-radius: .5rem;
  background: rgba(0,0,0,0.2);
  border: none;
}

.fa-play, .fa-pause, .fa-stop{
  font-size: 20px;
}

#pause, #play, #stop, kbd, .key:hover, .fas{
  cursor: pointer;
}

.hidden{
  display:none;
}

#keys{
  width:var(--normal-width);
  height: 72rem;
  margin:0 auto;
  background-size: cover; 
  background-position: center;
  background-image: url('Talking-drum.png');
  
}

.key {
  border: .4rem solid grey;
  border-radius: .5rem;
  margin: 5rem 5.5rem;
  font-size: 1.5rem;
  padding: 4rem 4rem;
  transition: all .07s ease;
  width: 14rem;
  height: 14rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
  float: left;
  display:flex;
  justify-content: center;
  align-items: center;
}

.playing {
  transform: scale(1.1);
  border-color: #ff0077;
  box-shadow: 0 0 1rem #ff0077;
}
  
kbd {
  font-size: 2rem;
}

footer{
  background-color: var(--control-bar-color);
  height:6rem;
  width: var(--normal-width);
  position:sticky;
  bottom:0;
  margin: 0 auto;
  font-size: 30px;
  text-align: center;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  align-items: center;
}

.fa-step-forward{
  margin-left: 1rem;
}

.fa-step-backward{
  margin-right: 1rem;
}

/* #now-playing{
  /* float:left; 
  margin-left: 5rem;
} */


/* .track-control{
  display:flex;
  align-items: center;
} */

@media screen and (max-width: 700px){
  header{
    width: var(--smallest-width);
  }

  .music-controls{
    width: var(--smallest-width);
  }

  .music-control{
    background-color: #ff0077;
    margin:0 auto;
  }
  .key{
    margin: 50px auto;
  }

  #keys{
    display:grid;
    grid-template-columns: 1fr;
    width: var(--smallest-width);
    height: 100%;
  }
  footer{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height:10rem;
    width: var(--smallest-width);
  }
  .track-info, .track-control{
    margin:0 auto;
  }
} 

@media screen and (min-width:700px){
  header{
    width: var(--middle-width);
  }

  .music-controls{
    width: var(--middle-width);
  }

  .music-control{
    background-color: #ff0077;
    margin:0 auto;
  }
  .key{
    margin: 50px auto;
  }

  #keys{
    display:grid;
    grid-template-columns: 1fr 1fr;
    width: var(--middle-width);
    height: 100%;
  }
  footer{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height:6rem;
    width: var(--middle-width);
  }
  .track-info, .track-control{
    margin:0 auto;
  }
} 

@media screen and (min-width:1001px){
  header{
    width: var(--normal-width);
  }

  .music-controls{
    width: var(--normal-width);
  }

  .music-control{
    background-color: #ff0077;
    margin:0 auto;
  }
  .key{
    margin: 50px auto;
  }

  #keys{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: var(--normal-width);
    height: 100%;
  }
  footer{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height:6rem;
    width: var(--normal-width);
  }
  .track-info, .track-control{
    margin:0 auto;
  }
}

@media screen and (min-width:1300px){
  header{
    width: var(--normal-width);
  }

  .music-controls{
    width: var(--normal-width);
  }

  .music-control{
    background-color: #ff0077;
    margin:0 auto;
  }
  .key{
    margin: 50px auto;
  }

  #keys{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: var(--normal-width);
    height: 100%;
  }
  footer{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height:6rem;
    width: var(--normal-width);
  }
  .track-info, .track-control{
    margin:0 auto;
  }
}